In [ ]:
 # Missing Data (Survey Alarm.xlxs)

# Find any missing data
# Deal with the missing data

In [4]:
# for alarm survey data health check 
import pandas as pd
alarm_survey = pd.read_excel('Alarm Survey Data.xlsx')
alarm_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   survey_id           6433 non-null   int64
 1   age                 6433 non-null   int64
 2   number_of_children  6433 non-null   float64
 3   activity_level      6433 non-null   object
 4   sleep_quality       6082 non-null   float64
 5   number_of_snoozes   6433 non-null   int64
 6   alarm_rating        6433 non-null   object
dtypes: float64(2), int64(3), object(2)
memory usage: 351.9+ KB

In [6]:
# To see the missing value
alarm_survey[alarm_survey.isna().any(axis = 1)]

,survey_id,age,number_of_children,activity_level,sleep_quality,number_of_snoozes,alarm_rating
10,11,28,2.0,light_activity,NaN,3,4 stars
18,19,38,2.0,lightly active,NaN,1,5 stars
23,24,24,2.0,very active,NaN,1,5 stars
26,27,25,2.0,lightly active,NaN,1,2 stars
28,29,29,2.0,lightly active,NaN,1,2 stars
...,...,...,...,...,...,...,...
6310,6311,30,2.0,very active,NaN,0,3 stars
6319,6320,44,2.0,lightly active,NaN,0,3 stars
6375,6309,32,3.0,light,NaN,0,3 stars
6377,6311,30,2.0,very active,NaN,0,3 stars
6386,6320,44,2.0,lightly active,NaN,0,3 stars

In [8]:
# To group data based on category
alarm_survey.sleep_quality.value_counts(dropna = False)

sleep_quality
5.0    2721
4.0    2261
3.0     997
NaN     351
1.0     103
Name: count, dtype: int64

In [12]:
# we can fill up all missing value by numpy altogether

import numpy as np

alarm_survey.sleep_quality = np.where(alarm_survey.sleep_quality.isna(), 2, alarm_survey.sleep_quality)
alarm_survey.sleep_quality

0       3.0
1       3.0
2       4.0
3       4.0
4       1.0
       ...
6428    5.0
6429    4.0
6430    5.0
6431    5.0
6432    4.0
Name: sleep_quality, Length: 6433, dtype: float64

In [13]:
alarm_survey.sleep_quality.value_counts(dropna = False)

sleep_quality
5.0    2721
4.0    2261
3.0     997
2.0     351
1.0     103
Name: count, dtype: int64

In [14]:
alarm_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   survey_id           6433 non-null   int64
 1   age                 6433 non-null   int64
 2   number_of_children  6433 non-null   float64
 3   activity_level      6433 non-null   object
 4   sleep_quality       6433 non-null   float64
 5   number_of_snoozes   6433 non-null   int64
 6   alarm_rating        6433 non-null   object
dtypes: float64(2), int64(3), object(2)
memory usage: 351.9+ KB

* Find any inconsistent text and typos
* Deal with the inconsistent text and typos